<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
</head>
<body>
  <h1>EDIT ID: <%= profile.id %></h1>
  <p>NAME: <%= profile.name %></p>

  <form method="POST" action="/profiles/<%= profile.id %>?_method=PUT">
    <label for="salary">Salary:</label>
    <input type="text" name="salary" value="<%= profile.salary %>" required><br><br>
    <label for = "age"> age :</label>
    <input type = "number" name = "age" value = "<%= profile.age%>"><br/>
    <label for = "city"> CITY:</label>
    <input type = "text" name = "city" value = "<%= profile.City%>"><br/>


    <button type="submit">Update Profile</button>
  </form>
</body>
</html>
